/* .main-container {
  display: flex;
} */

:root {
    --main-bg: black;
    --main-color: white;
    --main-branding: purple;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    color: var(--main-color);
    width: 25rem;
    font-size: 1.2rem;
    background: var(--main-bg);
  }
  
  .home-page {
    display: flex;
    flex-direction: column;
  /*   justify-content: space-between; */
    align-items: center;
    padding: 1.2em 1.2em 1.5em 1.2em;
  }
  
  .header-main {
    display: flex;
    margin: 0 auto;
    padding: 0.5em 0.5em;
    align-items: center;
    justify-content: space-between;
    background: var(--main-branding);
  }
  
  .header-settings {
    display: flex;
    margin: 0 auto;
    padding: 0.5em 0.5em;
    align-items: center;
    justify-content: flex-start;
    background: var(--main-branding);
  }
  
  .header-settings > h1 {
    margin: 0;
    display: inline-block;
    font-size: unset;
    padding-left: 0.5em;
  }
  
  .header-main > h1 {
    margin: 0;
    display: inline-block;
    font-size: unset;
    padding-left: 0.5em;
  }
  
  #settings-icon {
    color: var(--main-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  #arrow-icon {
    height: 28.5px;
    position: relative;
    padding-top: 0.1em;
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  
    border-right: 10px solid var(--main-color);
  }
  
  .header-main > svg {
    display: block;
  }
  
  main {
  /*   height: 100%; */
  }
  
  #intro {
    margin: 0 0;
  }
  
  #quote {
    margin-top: 0;
    text-align: center;
    font-size: 1rem;
  }
  
  #intro {
    font-size: 1rem;
  }
  
  #question {
    text-align: center;
    margin-top: 0.2em;
    font-size: 1.2rem;
  }
  
  #solve-btn {
    background: var(--main-branding);
    border-radius: 0.5em;
  }
  
  #solve-btn > a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    padding: 0.5em 4em;
  }
  
  .settings {
    width: 100%;
  }
  
  .settings-container > li {
    width: 100%;
  }
  .settings-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .settings-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
  }
  
  .item-action {
    padding: 0 0.5em;
    margin: auto 0;
  }
  
  .item-title {
    font-size: 1rem;
    padding: 0;
    padding-bottom: 0.2em;
    margin: 0;
  }
  
  .item-description {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
  }
  
  .container.settings-page {
    position: fixed;
    left: 0;
    top:0;
    display:none;
  }